span{
    background-color: blue;
    border: 0.2rem solid blueviolet;
    height: 150px;
    width: 150px;
}
div{
    background-color: aqua;
    border: 0.2rem solid blueviolet;
    height: 150px;
    width: 150px;
}
